/* app global css */ 
@font-face {
  font-family: Nexa; 
  src: url(./fonts/Nexa-Trial-Regular.woff);
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Oxygen-Regular.woff);
}


.my-font { 
	font-family: Nexa; 
}

.my-Oxygen {
    font-family: Oxygen;
    font-weight: 100;
    font-style: normal;
} 

.q-tab__label {
   font-size:15px;
   color:#ccc;
   font-weight:bold;
   color:#32C36E;
}

 

.newClass{
  position: fixed;
  width:92%;
  top:90px;
  left:30; 
  z-index:1; 
  background:#ffffff;
  color:#32C36E;
}  

/*footer*/
.col_white_amrc { color:#000;}
footer { width:100%; background-color:#EAEFF2; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:10px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#000; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#000; text-decoration: none;}
.footer_ul_amrc li a:hover{ text-decoration:underline;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.headin5_amrc { font-size:17px; font-weight:bold;}
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px; }
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { margin-top:-50px; }  

/*footer 2 */
.footer-2 { width:100%; background-color:#282d32; min-height:200px; padding:10px 0px 0px 70px ; }
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px; 
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#fff; padding-right:10px; text-decoration:none;}

.dot {
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right:15px;
  margin-top:-20px;
}