/* app global css */ 
@font-face {
  font-family: Nexa; 
  src: url(./fonts/Nexa-Trial-Regular.woff);
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Oxygen-Regular.woff);
}


.my-font { 
	font-family: Nexa; 
}

.my-Oxygen {
    font-family: Oxygen;
    font-weight: 100;
    font-style: normal;
} 